{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="login-container">
    <form action="{url 'login'}" class="login-form" method="post">
        {% csrf_token %}
        <h2>Log In</h2>

        {% if form.errors %}
            <div class="error-message">
                Incorrect username or password
            </div>
        {% endif %}

        <label for="id_username">Username</label>
        {{ form.username }}

        <label for="id_password">Password</label>
        <div class="password-wrapper">
            {{ form_password }}
            <button type="button" class="toggle-password" onclick="togglePassword()">👁</button>
        </div>

        <button type="submit">Login</button>

        <p class="register-text">No account? <a href="#">Sign Up</a></p>
    </form>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</main>
{% endblock %}